{% extends 'base.html.twig' %}

{% block title %}WebGLDemo{% endblock %}

{% block body %}
    <h1>WebGLDemo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ webgldemo.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ webgldemo.name }}</td>
            </tr>
            <tr>
                <th>Lin</th>
                <td>{{ webgldemo.link }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_webgldemo_index') }}">back to list</a>

    <a href="{{ path('app_webgldemo_edit', {'id': webgldemo.id}) }}">edit</a>

    {{ include('webgldemo/_delete_form.html.twig') }}
{% endblock %}
