{% extends 'layout.html.twig' %}

{% block title %}{{ 'New website'|trans }}{% endblock %}

{% block body %}
    <h1>{{'New website'|trans}}</h1>
    <div class="relative-container">
        <div class="container">
            <div class="row">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <h1>{{ 'New websites'|trans }}</h1>
                    <a href="{{ path('app_websites_index') }}" class="btn btn-warning">{{ 'back to list'|trans }}</a>
                </blockquote>
            </figure>
            {{ include('websites/_form.html.twig') }}
        </div>
    </div>
{% endblock %}